{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "env": {
    "development": {
      "presets": ["@babel/preset-env", "@babel/preset-react"]
    },
    "test": {
      "presets": ["env", "@babel/preset-react", "@babel/preset-env"],
      "plugins": [
        [ "babel-plugin-webpack-alias", { "config": "<rootDir>/webpack.config.js" } ],
        ["react-css-modules", {
          "option": "value"
        }]
      ]
    }
  }
}
